body {
    font-family: 'Roboto', sans-serif; /* Asegúrate de que el nombre de la fuente coincida */
}
.hero {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1)), 
                url("../img/bg-hero.jpg");
    background-size: cover; /* Asegura que cubra todo el contenedor */
    background-position: center center; /* Centra la imagen */
    background-attachment: fixed; /* Efecto de paralaje */
    height: 80vh; /* O usa un valor fijo como 600px */
    max-height: 800px; /* Evita que la imagen sea demasiado alta */
}
.titulohero {
padding-top: 400px;

}

.titulo{
    padding-top: 50px;
}

.titulo2{
    padding-top: 90px;
}

.images{
    width: 200px;  /* Ajusta el ancho */
    height: 200px; /* Ajusta la altura */
}

#cards{
    padding: 100px;
}

#cards article {
    text-align: left;
    display: inline-block;
    margin: 0px 50px;
    font-size: 35px;
}

.trabajo{
    background-color: #0e0e1f;
    border-radius: 50px; /* Bordes redondeados */
    padding: 30px;
    padding-bottom: 100px;
}

div .col{
    text-align: left;
}

div .col h5{
    font-size: 23px;

}

.card{
    text-align: left;
}

.row{
    padding-top: 28px;
    padding-bottom: 25px;
}

/* .card img{

    /* height:230px; */ 

#contactame h2{
    font-size: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
}

form{
    text-align: left;
}

form button{
    padding: 20px;
}

footer{
    background-color: #0e0e1f;
    color: white;
    padding: 10px;
}

footer h2{
    padding-top: 20px;
}
